body{
  background-image: url('D:\Web Development\Do-iT\src\black-notebook-with-pen-black-background-3d-illustration_291814-834.jpg'); /* Path relative to public folder */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
  overflow:scroll;
}

h3{
  text-align: center;
  font-size:xx-large;
  background: 20px;
  background: linear-gradient(to right, #000000ce, #0e853a);
  width:816px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  border-color: white;
  height: 50px;
  text-shadow: #353434;
  text-decoration-line:overline;
}

.todo-wrapper{
background: #353434;
padding:3%;
border-radius:3px;
width:max-content;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
max-height: 80vh;
overflow-y: auto;
box-shadow: 0px 5px 7px rgb(27, 27, 27);

}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(78, 78, 78);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(0,230,122);
  font-size: 30px;
  text-decoration:underline;
  text-decoration-color: rgb(249, 250, 250) ;
}

.todo-input-item input{
  margin-bottom: 20px;;
  padding: 12px;
  border-radius: 12px;
  width: 250px;
}

.todo-input-item input:focus{
  outline: 2px solid rgb(0,230,122);
}

.primaryBtn{
  background-color: rgb(0,230,122);
  color: white;
  border:none;
  border-radius: 12px;
  margin-top: 30px;
  padding: 12px;
  width: 90px;
  cursor: pointer;
  font-weight: bold;
}

.primaryBtn:hover{
  background-color: rgb(4, 196, 106);
}


.secondaryBtn-1{
  background-color: rgb(71, 71, 71);
  color: white;
  border-radius: 5px;
  margin-top: 2px;
  padding: 5px;
  width: fit-content;
  cursor: pointer;
  margin-right: 0px;
  font-weight: bold;
  font-style:normal;
  font-size: 23px;
 
}

.secondaryBtn-2{
  background-color: rgb(71, 71, 71);
  color: white;
  border-radius: 5px;
  margin-top: 2px;
  padding: 5px;
  width: fit-content;
  cursor: pointer;
  margin-left: 30px;
  font-weight: bold;
  font-style:normal;
  font-size: 23px;
 
}

.active{
  background-color: rgb(247, 144, 0);
}

.todo-list{
  display: flex;
  flex-direction: column;

}

.btn-area{
  margin-bottom: 15px;
}

.todo-list-item {
  background-color: #414040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 3px 5px rgba(31, 30, 30, 0.8);
}
.todo-list-item .content {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 20px; 
  align-items: center; 
  flex: 1; 
}
.todo-list-item h1 {
  background-color: transparent; 
  display: block; 
  font-size: 1.5rem; 
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin: 0; 
}

.todo-list-item p {
  background-color: transparent; 
  display: block; 
  font-size: 1.5rem; 
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin: 0;
}

.todo-list-item h4 {
  background-color: transparent; 
  font-size: 1.2rem; 
  color: white;
  font-weight: bold;
  font-style: italic;
  margin: 0; 
  flex: 1; 
}

.todo-list-item p1 {
  background-color: transparent; 
  font-size: 1.2rem; 
  color: white;
  font-weight: normal;
  margin: 0; 
  flex: 1; 
}

.todo-list-item .icons {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.delete-icon {
  font-size: 1.5rem; 
  cursor: pointer;
  margin-left: auto; 
  color: white; 
}

.delete-icon:hover {
  color: red;
}

.check-icon {
  font-size: 1.5rem; 
  margin-left: 15px; 
  color: rgb(0, 230, 122);
  cursor: pointer;
}

.check-icon:hover {
  color: rgb(4, 196, 106);
}

